table {
    width: 70%;
    margin: 20px auto; 
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

thead {
    background-color: #ddd;
    color: white;
}

th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f1f1f1; 
}

tr:hover {
    background-color: #ac1a54; 
}